.meta-info-form {
  &__content {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  h3 {
    margin: 0 0 8px 0;
  }

  &__input {
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }

  input {
    margin-top: 2px;
    padding: 3px 6px;
    font-size: 1em;
  }
}
